.checkebox{
  border: 1px solid black;
  margin: 5px;
  width: 300px;
  background-color: rgb(216, 112, 94);
  color:white;
border-radius: 10px;
height: 30px;

  }

fieldset{
  font-style: normal;
  color: black ;
}
main{
 display: flex; 
}